<nav class="navbar navbar-expand-md bg-body-tertiary">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="red" class="bi bi-compass" viewBox="0 0 16 16">
              <path d="M8 16.016a7.5 7.5 0 0 0 1.962-14.74A1 1 0 0 0 9 0H7a1 1 0 0 0-.962 1.276A7.5 7.5 0 0 0 8 16.016m6.5-7.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0" />
              <path d="m6.94 7.44 4.95-2.83-2.83 4.95-4.949 2.83 2.828-4.95z" />
          </svg>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav me-auto">
              <a class="nav-link" href="/listings">Home</a>
              <a class="nav-link" href="/listings/add">Add a listing</a>
          </div>
          <div class="navbar-nav ms-auto">
              <% if(!currentUser) { %>
              <a class="nav-link" href="/signup">Sign In</a>
              <a class="nav-link" href="/login">Login</a>
              <% } else {%>
              <a class="nav-link" href="/logout">Logout</a>
              <% }%>
          </div>
      </div>
  </div>
</nav>
